/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


.grid_1 { width:100px; }
.grid_2 { width:195px; }
.grid_3 { width:295px; }
.grid_4 { width:395px; }
.grid_5 { width:495px; }
.grid_6 { width:590px; }



.column {
	margin: 0 5px;
/*  overflow: hidden;*/
	float: left;
	display: inline;
}
.row {
	width: 610px;
	margin: 0 auto;
/*  overflow: hidden;*/
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}

.column .column {
	margin-right:-5px;
}

.main-body{
  padding-top:5px;
}

.align-right{
  text-align:right;
}

.align-center{
  text-align:center;
}

.italic{
    font-style:italic;
}

body{
  font-size:32px;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
  color:#BBB9B9;
  background-image: url('../img/debut_dark.png');
}

a, a:visited{
  text-decoration:none;
  color:#637729;
}

a:hover{
  color:#97461F;  
}

#wrapper{

}

h1,h2,h3{
  font-weight:bold;
}

h1{
  font-size: 64px;
  letter-spacing:2px;
  color: rgb(206, 186, 125);
  font-family: 'Averia Serif Libre', cursive;
  font-style: italic;
  font-weight:normal;
}

h2{
  font-size:32px;
}

h3{
  font-size:24px;
  border-bottom: 1px dotted #777;
  padding-bottom:10px;
  font-weight:normal;
}

section{
  padding-top:5px;
  padding-bottom:10px;
  border-bottom: 1px dotted #777;
}

footer{
  font-size:18px;
  padding-top:20px;
}

#message{
  font-family: 'Averia Serif Libre', cursive;
  font-style: italic;
  color: #97461F;
}

#user-location{
  font-weight:bold;
}

#location-editor{
  display:none;
}


#location-text{
  padding:0;
  margin:0 0 0 5px;
  border:0;
  border-bottom: 1px solid #BBB9B9;
  font-size:24px;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  color:#BBB9B9;
}

#location-text:focus{
  outline:none;
  font-style: italic;
}

#location-list{
  font-size:18px;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0 0 0 5px;
  border:0;
/*  border-bottom: 1px solid #BBB9B9;*/
  font-weight: 300;
  visibility: hidden;
}

.location-result{
  display:block;
}

#location-list:focus{
  outline:none;
}

button{
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:18px;
}

#why{
  font-size:18px;
  display:none;
}

#astro_data p{
  font-size:24px;
  line-height:32px;
}

#why-data{
  display:none;
  padding-top:10px;
}
.graph{
  font-size:14px;
}

.jqplot-title{
  font-size:18px;
}

.jqplot-xaxis{
  padding-top:15px;
}